<html>

<div class="card-body">
  <table id="datatablesSimple">
      <thead>
          <tr>
              <th>Nome</th>
              <th>Data</th>
              <th>Hora</th>
              <th>Médico</th>
          </tr>
      </thead>
      <tbody>
        <ul>
            <% consultas.forEach(consultas => { %>
                <table>
                  <td><%= consultas.nome_paciente %></td>
                  <td><%= consultas.data_consulta %></td>
                  <td><%= consultas.hora_consulta %></td>
                  <td><%= consultas.especialista %> </td>
                </table>
              <% }); %>
        </ul>
       <br><br>



       
        <tr>
            <th1>id </th>
                <th1>nome</th>
                    <th1>senha </th>
                        <th1>CPF </th>
                            <th1>telefone </th>
                                <th1>email</th>
                                    <th1>sexo</th>
                                        <th1>tipo de usuario</th>
      </tr>
        <ul>
            <% cadastro.forEach(cadastro => { %>
                <table>
                  <td><%= cadastro.user_id %></td>
                  <td><%= cadastro.username %></td>
                  <td><%= cadastro.password %></td>
                  <td><%= cadastro.cpf %> </td>
                  <td><%= cadastro.telefone %></td>
                  <td><%= cadastro.email %></td>
                  <td><%= cadastro.sexo %></td>
                  <td><%= cadastro.user_type %></td>
                  <% }); %>
                </table>
        </ul>

      </tbody>
  </table>
</div>
</html>